.u-section-1 {
  background-image: none;
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 90px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 11px auto 0;
}

.u-section-1 .u-image-1 {
  object-position: 50% 0%;
  height: 431px;
  margin-top: 170px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -529px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px);
  min-height: 391px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0;
}

.u-section-1 .u-text-7 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 32px;
}

.u-section-1 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  text-shadow: 0px 0 0 rgba(0,0,0,0);
  color: rgb(255, 255, 255) !important;
  margin: -25px auto 0;
}

.u-section-1 .u-text-9 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 35px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-style: normal;
  font-size: 1.125rem;
  width: 290px;
  margin: 20px auto 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 821px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
    margin-left: calc(((100% - 1140px) / 2) + 274px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 151px);
  }

  .u-section-1 .u-image-1 {
    height: 444px;
    margin-top: 196px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -568px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 322px;
  }

  .u-section-1 .u-text-11 {
    width: 164px;
    margin-left: calc(((100% - 940px) / 2) + 388px);
    margin-right: calc(((100% - 940px) / 2) + 388px);
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1188px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: 612px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 684px;
    margin-top: 279px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -902px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    min-height: 765px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -28px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-11 {
    margin: 40px auto 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1193px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 702px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -920px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 31.5px) calc(50% - 31.5px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 540px) / 2) + 188px);
    margin-right: calc(((100% - 540px) / 2) + 188px);
    margin-bottom: 67px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1853px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 338px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 1015px;
    margin-top: 574px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -1522px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-11 {
    margin-left: calc(((100% - 340px) / 2) + 88px);
    margin-right: calc(((100% - 340px) / 2) + 88px);
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1181px;
}

.u-section-2 .u-text-1 {
  width: 525px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 795px;
  margin: 60px auto 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 299px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/sri.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 236px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 372px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  line-height: 2.2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 200px;
    height: 200px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-2 .u-image-1 {
    width: 219px;
    height: 219px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-2 .u-image-1 {
    width: 206px;
    height: 206px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 878px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 55px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 750px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 313px;
  height: 360px;
  object-position: 1.64% 100%;
  margin: 180px auto 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 500px;
  background-image: url("images/SuperStar.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 250px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 618px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 153px;
    height: 203px;
  }

  .u-section-3 .u-image-2 {
    min-height: 412px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 206px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2022px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 947px;
  }

  .u-section-3 .u-image-2 {
    min-height: 631px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4470px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1421px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 473px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2862px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 895px;
  }

  .u-section-3 .u-image-2 {
    min-height: 298px;
  }
}